.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  .input-box {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    text-align: center;
    outline: none;
  }
  
  .enter {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c42b5d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .enter{
    background-color: #a11e4b;
  }
  